@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: #000000;
  --slate: #434455;
  --white: #ffffff;
}
.webstudio-logo {
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 25.5px;
}
.web-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.navbar .page-link {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.lists {
  list-style-type: none;
}
.navbar .page-link:hover,
.navbar .page-link:focus,
.contact-info .info:hover,
.contact-info .info:focus {
  color: var(--iris, #4d5ae5);
}
.contact-info .info {
  text-decoration: none;
  color: var(--slate, #434455);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.background1 {
  background: var(--navyblue, #2e2f42);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.h1-tittle {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-text {
  color: var(--white, #ffffff);
  /* Button Text */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
